[defaults]
remote_user = devops
inventory = ./inventory
ask_pass = false
host_key_checking = false
roles_path = ./roles:/usr/share/ansible/roles
collections_path = ./collections:/usr/share/ansible/collections

[privilege_escalation]
become = true
become_user = root
become_method = sudo
become_ask_pass = false
